@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
}

/* Navbar Responsive Toggle. */
.hamburger__line {
  @apply block h-[3px] w-full rounded-[10px] bg-slate-800 transition;
}

#hamburger-toggle.active span:nth-child(1) {
  @apply rotate-45 transition;
}

#hamburger-toggle.active span:nth-child(2) {
  @apply opacity-0 transition;
}

#hamburger-toggle.active span:nth-child(3) {
  @apply -rotate-45 transition;
}

@media screen and (max-width: 1023px) {
  nav {
    height: 56px;
    transition:
      height 350ms,
      background-color 700ms;
  }

  nav.active {
    height: calc(256px + 56px);
    background-color: white;
    transition: height 350ms;
    @apply shadow-sm;
  }
}

section#footer footer {
  background-image: url("/images/footer-bg.png");
  background-size: cover;
  position: relative;
}
